@media (max-width:1000px){
    background p0{
        color:white;
        font-size: 3vh;
        font-weight: 500;
    }

    background h{
        color:white;
        font-size: 5vh;
        font-weight: 600;
        font-family: serif;
        margin-bottom: 5vh;
    }

    background p1{
        text-align: center;
        color:white;
        font-size: 2vh;
        font-weight: 500;
        font-family: arial;
        margin-bottom:7vh;
    }

    background a{
        text-decoration: none;
        color:black;
        background-color: white;
        padding:1vh 5vh;
        border-radius: 5vh;
        font-size: 4vh;
        font-family: s;
        margin-bottom: 5vh;
    }

    background a:hover{
        text-decoration: none;
        color:white;
        background-color: black;
        transition-duration: 0.3s;
    }

    background p2{
        color:white;
        font-size: 3vh;
        font-weight: 500;
    }
}
