.content1{
    display:flex;
    flex-direction: column;
}

.pitcher-plant{
    display:flex;
    position: absolute;
    height: 25vh;
    width:20vh;
    transform: translateY(-5vh);
}

.pitcher-plant-pic{
    height: 25vh;
    width:20vh;
    transition-duration: 0.3s;
    position: absolute;
}

.pitcher-plant-respond{
    visibility: hidden;
    scale:0;
    opacity:0;
    transition-duration: 0.3s;
}

.pitcher-plant:hover .pitcher-plant-pic{
    scale:1.1
}

.pitcher-plant:hover .pitcher-plant-respond{
    visibility: visible;
    scale: 1.3;
    opacity:1;
    transform: translateY(10vh) translateX(5vh);
}

.what-is-borneo{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:70vh;
    background-color: #ebf2e1;
}

.what-is-borneo-img{
    height:50vh;
    width: 50vh;
    border-radius: 5vh;
    margin-right: 5vh;
}

.what-is-borneo-content{
    display:flex;
    flex-direction: column;
    margin-left: 5vh;
}

.what-is-borneo-content-h{
    color:#454545;
    font-size: 5vh;
    font-weight: bold;
}
